
<include file="Public/include/Home_header.html"/>


<div class="panel panel-default">
  <div class="panel-heading">FanHeo.登录</div>
  <div class="panel-body">
    <!--登录表单-->

    <form class="form-horizontal" action="{:U("Login/Login/",'','')}" method="post" role="form" accept-charset="utf8">
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">用户名:</label>
            <div class="col-sm-4">
              <input type="user" class="form-control" name="username" maxlength="16" placeholder="用户名/手机号" required autofocus>
            </div>
          </div>
         <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码:</label>
            <div class="col-sm-4">
              <input type="password" id="pwd" class="form-control" name="password" maxlength="24" placeholder="密码" title="hello" required autofocus >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">验证码:</label>
            <div class="col-xs-2">
              <input type="code" id="code" class="form-control" name="code" maxlength="6" placeholder="输入验证码" required  onchange="checkPasswords()">
              <img src="{:U('Login/verify')}" id="code"/><a href="javascript:change_code()">换一个</a>
            </div>
          </div>
          

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-warning btn-block">登录</button>
              </div>
            </div>
          
        </form>
        <script>
          
          function change_code(){
            var verifyURL = '{:U('Login/verify','','','127.0.0.1')}';
            $("#code").attr("src",verifyURL + Math.random());
            return false;
          }
        </script>
  </div>
  </div>
<include file="Public/include/Home_footer.html"/>