      
<include file="Public/include/Admin_header.html"/>
<form method="post" action="{:U('Category/runAddCate','','')}">
<table class='table'>
	<tr>
		<th colspan="2">添加栏目分类</th>
	</tr>
	<tr>
		<td align="right">分类栏目名称:</td>
		<td>
			<div class="col-xs-3">
			<input type="text" class="form-control" name='name'/>
			</div>
		</td>
	</tr>
	<tr>
		<td align="right">排序:</td>
		<td>
			<div class="col-xs-3">
			<input type='text' name='sort' class="form-control" valud="100"/>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<div class="col-xs-3">
			<input type="hidden" name='pid' value='{$pid}'/>
			</div>
			<div class="col-xs-3">
			<input type="submit" class="btn btn-default" value='保存添加'/>
			</div>
		</td>
	</tr>
</table>
</form>
</div>
</html>