<include file="Public/include/Home_header.html"/>
      <div class="row">
        <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/1.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
            <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p >怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/2.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p >怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/3.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/4.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/1.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/2.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
         <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/3.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
         <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/4.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
         <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/3.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
             <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
         <div class="col-md-7 col-md-3">
          <div class="thumbnail">
            <img src="__PUBLIC__/image/index/food/2.jpg" style="width: 240px; height: 160px;" data-src="holder.js/300x200" alt="300x200">
            <div class="caption">
              <h4>红烧排骨</h4><h4 class="text-right text-danger">￥５.00</h4>
              <p>怡膳园</p>
              <p class="text-right"><a href="#" class="btn btn-warning" role="button">加到饭盒</a> <a href="#" class="btn btn-default" role="button">收藏</a></p>
            </div>
          </div>
        </div>
      </div>
<include file="Public/include/Home_footer.html"/>
    
  
