
<include file="Public/include/Home_header.html"/>


<div class="panel panel-default">
  <div class="panel-heading"><?php echo $status;?>注册成功！</div>
  <div class="panel-body">
    <!--注册状态-->

  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>注册成功！</strong> <br /><br />欢迎你加入到Faneo.饭盒<br/><br/>
    你的资料还不完整，为了你的方便，快去<a href="#" class="alert-link">完善一下</a>吧！
    <br/><br/>前往<a href="{:U("/Home",'','','127.0.0.1')}" class="alert-link">FanHeo.饭盒</a>选餐^_^.
  </div>


  </div>

<include file="Public/include/Home_footer.html"/>