      
<include file="Public/include/U_header.html"/>
          
<div class="panel panel-default">       
  <div class="panel-heading">吐吐糟吧</div>
    <div class="panel-body">
      <div class="media">
          <a class="pull-left" href="#">
          <img class="media-object img-circle" src="__PUBLIC__/image/user/head_icon.png" width="100px" height="100px">
          </a>
        <div class="media-body">
          <form class="" action="{:U('UCenter/send_talk')}" method="post" role="form" >
            <textarea class="form-control" id="content" name="content" rows="3" placeholder="{$m.words}想说点儿啥.." required autofocus></textarea>
            <br/>
        
            <button type="submit" data-loading-text="发送中..."  class=" pull-right btn btn-warning ">  吐 糟  </button>
          </form> 
        </div>
      </div>
  </div>
</div>


<button type="submit" data-loading-text="发送中..." onclick="post_talk()" class=" pull-right btn btn-warning ">  吐 糟  </button>
<div class="talk panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  
    <!-- List group -->
    <ul class="talklist list-group">
    <foreach name='talk' item='v'>
      <li class="list-group-item"><div class="media">
          <a class="pull-left" href="#">
          <img class="media-object img-circle" src="__PUBLIC__/image/user/head_icon.png" width="100px" height="100px">
          </a>
        <div class="media-body"><div class="pull-left">{$user=session('username')}</div><div class="pull-right">{$v.time}</div>
          <p><br/><br/>{$v.content}<br/><br/></p>
        </div>
      </div></li>
      </foreach>
    </ul>
  </div>
  
  <script type="text/javascript" src="http://t.beauty-soft.net/js/jquery.js"></script>
<script>
  
  /*发表动态*/

  function post_talk () {

var aj = $.ajax( {    
    url:'UCenter/send_talk',// 跳转到 action    
    data:{    
             selRollBack : selRollBack,    
             selOperatorsCode : selOperatorsCode,    
             PROVINCECODE : PROVINCECODE,    
             pass2 : pass2    
    },    
    type:'post',    
    cache:false,    
    dataType:'json',    
    success:function(data) {    
        if(data.msg =="true" ){    
            // view("修改成功！");    
            alert("修改成功！");    
            window.location.reload();    
        }else{    
            view(data.msg);    
        }    
     },    
     error : function() {    
          // view("异常！");    
          alert("异常！");    
     }    
});  

   
      
  }
</script>
<script>
  
  function demo(){

    $.ajax({
      url:'http://127.0.0.1/Fnheo/index.php/Home/UCenter/send_talk/id/1',
      type:"GET",
      dataType:"json",
      cache:false;
      success:function(data){
        if(data.status){
          alert("hello");
        }else{
          alert(sorry);
        }
      }
    });
  }
</script>

<include file="Public/include/U_footer.html"/>