      
<include file="Public/include/Home_header.html"/>
<div class="panel panel-default">
  <div class="panel-heading">{$username}的个人中心</div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked" style="max-width: 220px;">
        <li class="active">
          <a href="#">
            <span class="badge pull-right">3</span>
            我的饭盒
          </a>
        </li>
        <li><a href="#">我的订单</a></li>
        <li><a href="#">饭盒故事</a></li>
        <li><a href="#">资料设置</a></li>
        <li><a href="#">安全设置</a></li>
        
        <li>
          <a href="#">
            <span class="badge pull-right">3</span>
            消息中心
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

<include file="Public/include/Home_footer.html"/>