      
<include file="Public/include/Home_header.html"/>
<div class="panel panel-default">
  <div class="panel-heading">加入到 FanHeo.饭盒 </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
        <li class="active">
          <a href="#">
            <span class="badge pull-right">42</span>
            Home
          </a>
        </li>
        <li><a href="#">Profile</a></li>
        <li>
          <a href="#">
            <span class="badge pull-right">3</span>
            Messages
          </a>
        </li>
      </ul>
    </div>
  </div>

<include file="Public/include/Home_footer.html"/>